.our-team {
    background-color: var(--filter__button-color);

}

.our-team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--main-margin));
    margin-top: calc(-1 * var(--main-margin));

}

.our-team__item {
    background: var(--address-list-color);
    flex-basis: calc((100% - 120px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: var(--main-margin);
    margin-top: var(--main-margin);
}

.our-team__card {
    padding: 30px 32px 30px 32px;
}

.secondary-title {
    margin-bottom: 50px;
}

.our-team__member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.our-team__member-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}