
.line {
    border-bottom: 1px solid var(--header-border);
}

.filter__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--primary-text-color);
    background: var(--filter__button-color);
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    margin-right: 10px;

    &:hover,
    &:focus {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            color: var(--address-list-color);
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
    
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.filter {
    @include centeredFlex();
    margin-bottom: 50px;
}

.projects__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.projects__type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
}

.projects__wrapper {
    border: 1px solid var(--border-color);
    border-top: none;
    width: 370px;
    padding: 20px 25px;
}

.projects__name {
    margin-bottom: 5px;
}

.projects__card {
    display: block;

    &:hover,
    &:focus {
            box-shadow:
                0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.projects__overlay {
    position: relative;
    overflow: hidden;

    &::before {
            display: inline-block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(33, 150, 243, 0.9);
            transform: translateY(100%);
            @include transition(transform);
        }
}

.projects__item:hover .projects__overlay::before {
    transform: translateX(0);
}

.projects__overlay-list {
    position: absolute;
    display: inline-block;
    padding: 63px 24px;
    transform: translateX(0);
}

.projects__overlay-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    height: 294px;

    color: var(--address-list-color);

    .projects__item:hover & {
            transform: translateY(-100%);
            @include transition(transform);
        }
}