.social-list {
    display: flex;
    justify-content: space-between;
}

.social-list__link {
    @include centeredFlex();
    width: 44px;
    height: 44px;
    background-color: var(--address-list-color);
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        @include transition(background-color);
    }
}

.social-list__icon {
    fill: var(--social-icon);

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--address-list-color);
        @include transition(fill);

    }
}