:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --hover-btn-color: #188CE8;
    --navigation__list-color: #000000;
    --background: #C4C4C4;
    --secondary-bgc: #2F303A;
    --filter__button-color: #F5F4FA;
    --address-list-color:
        #FFFFFF;
    --card-set-gap: 20px;
    --border-color: #EEEEEE;
    --header-border: #ECECEC;
    --main-margin: 30px;
    --address-list__link: rgba(255, 255, 255, 0.6);
    --social-icon: #AFB1B8;
}